@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400&display=block');
* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

:root {
  --main-clr: #000;
  --second-clr: #0e4683e3;
  --third-clr: #ADE0C6;
  --sss: #8397ff
}

.bg-second {
  background:var(--sss);
}

.bg-third {
  background:var(--second-clr);
}

body {
  font-family: 'Barlow', sans-serif;
  background: #f7f7f7;
}

.card {
  position: relative;
  cursor: pointer;
}

.read-more {

  width: 50%;
  position: absolute;
  border-radius: 20px;
  bottom: -100%;
  right: 15px;
  transition: bottom 0.3s;
}

.card:hover  > .read-more {
  bottom: 15px;
}
.bg-main {

  background: var(--main-clr);

}

.topheading{

  margin: 20px 0;

}



.topbar {

  background: #333333;

  height: 50px;

}

header {

  padding: 10px 20px;

}



.hero div {
  width: 70%;
  border-radius: 10px;
  margin: 10px auto;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.hero div img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle {
  border-radius: 20px !important;
  overflow: hidden;
}

.notify {
  position: fixed;
  top: 100px;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%) !important;
  animation-name: notify;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.row {
  width: 95%;
  margin: 0 auto;
}
@keyframes notify {
    from {
      opacity: 1
    }
    to {
      opacity: 0;
    }
}